@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --lightbg-color: #e0e5e0;
  --primary-color: #1e6f5c;
  --secundary-color: #545548;
  --darkbg-color: #051c25;
  --letter-spacing: -4%;
}