@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --lightbg-color: #f1f9fc;
  --primary-color: #1e6f5c;
  --darkbg-color: #051c25;
}
